<div class="row">
  <div class="absolute-center welcome-center">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <h3>TEST APPLICATION</h3>
      <p class="text-center text-muted">Sgare ouyr olcaiton thiw ndsfrien</p>
    </div>
  </div>
</div>
