@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background-color: #f5f7f7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}