.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.welcome-center {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  max-height: 200px;
  padding: 40px;
}